<h1>All Spaces</h1>
<p>Browse available coworking spaces below:</p>

<%# Placeholder content since controller is not ready yet %>
<ul>
  <li>Example Space 1 - $50/day</li>
  <li>Example Space 2 - $75/day</li>
</ul>
