<h1>Welcome to WorkTree</h1>
<p>Find and book the perfect coworking space!</p>

<% if user_signed_in? %>
  <p><%= link_to "Go to Dashboard", user_dashboard_path, class: "btn btn-primary" %></p>
<% else %>
  <p><%= link_to "Sign Up", new_user_registration_path, class: "btn btn-success" %> or
    <%= link_to "Log In", new_user_session_path, class: "btn btn-secondary" style="background-color: #222831"%></p>
<% end %>
